body {
  display: flex;
  flex-direction: row;
  background-image: url("img/space.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  font-family: 'Abel', sans-serif;
  color: white;
}

body div {
  text-align: center;
  width: 75%;
  border: 1px;
  margin: 0 auto;
  padding: 5px;
}

#blackhole{
  width: 400px;
  height: 400px;
}

.container{
  position: relative;
  text-align: center;
  color: white;
  border: 0px;
}

.centered {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-column{
  width: 10%;
  display: inline-block;
}

#top-middle{
  width: 50%;
  display: inline-block;
}

/* #shootingstar1{
  height: 100px;
  width: 100px;
} */
